%h1 Welcome!

%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum lectus at nibh gravida laoreet. Duis libero massa, placerat at fermentum quis, accumsan et mauris. Aliquam adipiscing, nulla et imperdiet imperdiet, sem ante sollicitudin erat, sed ullamcorper mauris lorem non mi. Duis rhoncus bibendum nisl sit amet suscipit. Morbi justo lorem, egestas in feugiat ut, volutpat quis tellus. In id ante lacus, non cursus sapien.

= render 'form'
